.contacts-map {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__head {
        margin-bottom: 8rem;

        @media (max-width: 48em) {
            margin-bottom: 3.2rem;
        }
    }

    &__heading {
        @media (max-width: 48em) {
            line-height: 12.8rem;
        }
    }

    &__body {
        display: flex;
        gap: 1.6rem;

        @media (max-width: 48em) {
            flex-direction: column;
            gap: 3.2rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        background-color: $gray;

        @media (min-width: 48em) {
            min-height: 100%;
            flex: 0 0 57.6rem;
            row-gap: 0.5rem;

            .place-title {
                color: $white;

                background-color: $blue;

                transition:
                    color 0.3s ease,
                    margin 0.3s ease,
                    padding 0.3s ease,
                    border-bottom 0.3s ease;

                svg {
                    path {
                        fill: $white;
                    }
                }
            }

            ._is-active .place-title {
                margin: 0 2.4rem;
                padding: 3.2rem 0;

                width: calc(100% - 4.8rem);

                color: $black;

                background-color: transparent;

                border-bottom: 1px solid #99b5cc;

                svg {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }

    &__map {
        height: 59.9rem;
        width: 100%;

        @media (max-width: 48em) {
            height: 62.6rem;
        }
    }
}

.map {
    .ymaps3x0--marker {
        width: 16.1rem;
    }

    [class*='-main-engine-container'] {
        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
    }

    @media (max-width: 48em) {
        .ymaps3x0--marker {
            width: 18rem;
        }
    }
}

.marker {
    cursor: pointer;

    rect,
    path#path-rect,
    path#markPointerPath {
        transition: fill 0.3s ease;
    }

    &._is-active {
        rect,
        path#path-rect,
        path#markPointerPath {
            fill: $blue;
        }
    }
}

.item-contacts-map {
    display: flex;
    flex-direction: column;
    row-gap: 3.6rem;

    transition: flex 0.3s ease 0.5s;

    @media (max-width: 48em) {
        row-gap: 3.2rem;
    }
    @media (min-width: 48em) {
        &._is-active {
            flex: 1 1 auto;
            transition: flex 0.3s ease 0.3s;
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        column-gap: 1.6rem;
        width: 100%;

        span {
            align-self: center;
            line-height: 111%;
        }

        @media (min-width: 48em) {
            span {
                align-self: flex-end;
            }
        }
    }

    &__list {
        padding: 0 1.6rem 0 5rem;

        @media (max-width: 48em) {
            padding: 0 2.8rem;
        }
    }

    &__list-item {
        display: block;
        &:not(:last-child) {
            margin-bottom: 1.6rem;
        }
        &:last-child {
            margin-bottom: 3rem;

            @media (max-width: 48em) {
                margin-bottom: 6rem;
            }
        }
    }

    &__list-item-content {
        display: inline-flex;
        align-items: center;
        column-gap: 1.2rem;

        svg {
            flex: 0 0 2.4rem;
            width: 2.4rem;
            height: 2.4rem;
        }

        @media (max-width: 48em) {
            column-gap: 2.6rem;

            svg {
                flex: 0 0 4.2rem;
                width: 4.2rem;
                height: 4.2rem;
            }
        }
    }
}
