[data-accordion-tabs-content] {
    [data-accordion-tabs-mm] & {
        @media (min-width: 48em) {
            display: none;
            flex-direction: column;
            row-gap: 1.5rem;

            &._is-active {
                display: flex;
            }
        }
    }
    &:not([data-accordion-tabs='map'] &, &._is-active) {
        @media (min-width: 48em) {
            display: none;
        }
    }
}
[data-accordion-tabs-body] {
    @media (max-width: 48em) {
        display: none;
    }
}
