.swiper-pagination-custom {
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
    color: $white;

    .h {
        font-family: Bahnschrift;
    }

    &__current {
        transform: translateY(-0.4rem);
    }

    &__divider,
    &__total {
        font-size: 1.6rem;
        font-weight: 600;
    }

    &__total {
        color: #808385;
    }
}
