.swiper-pagination-custom {
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
    color: $white;

    .h {
        font-family: Bahnschrift;
    }

    &__current {
        @media (min-width: 48em) {
            transform: translateY(-0.4rem);
        }
    }

    &__divider,
    &__total {
        font-weight: 600;
    }

    &__total {
        font-size: 1.6rem;
        color: #808385;

        @media (max-width: 48em) {
            font-size: 3rem;
        }
    }
}
