.h {
    font-family: 'Framer Sans';
    font-weight: 600;
    line-height: 120%;

    &_blue {
        color: $blue;
    }

    &_h1 {
        font-size: 7rem;
        text-transform: uppercase;

        @media (max-width: 48em) {
            font-size: 5.5rem;
        }
    }

    &_h2 {
        font-size: 6rem;

        @media (max-width: 48em) {
            font-size: 5.6rem;
        }
    }

    &_h3 {
        font-size: 3.2rem;

        @media (max-width: 48em) {
            font-size: 4rem;
            line-height: 1;
        }
    }

    &_h4 {
        font-size: 2.4rem;

        @media (max-width: 48em) {
            font-size: 4.4rem;
            line-height: 1;
        }
    }
}

.label {
    font-family: 'Framer Sans';
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 120%;
    text-transform: uppercase;
    opacity: 0.4;

    @media (max-width: 48em) {
        font-size: 3.2rem;
        line-height: 4rem;
    }
}

.txt24 {
    font-size: 2.4rem;
    line-height: 3.3rem;

    @media (max-width: 48em) {
        font-size: 4rem;
    }
}

.txt22 {
    font-size: 2.2rem;
    line-height: 2.6rem;

    &_sb {
        font-family: 'Framer Sans';
        font-weight: 600;
    }

    &_m {
        font-family: 'Framer Sans';
        font-weight: 500;
    }

    @media (max-width: 48em) {
        font-size: 3.6rem;
    }
}
