.video-js {
    &.vjs_video_3-dimensions {
        height: 72rem;
        width: 100%;

        video {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }

        @media (max-width: 48em) {
            height: 30.6rem;
            width: 70.5rem;
        }
    }
    &.vjs-playing {
        .vjs-big-play-button {
            opacity: 0;
            visibility: hidden;
        }
    }

    .vjs-poster {
        display: none;
    }

    .vjs-big-play-button {
        @extend .i-btn;

        position: absolute;
        top: 50%;
        left: 50%;

        width: 14rem;
        height: 14rem;

        transform: translate(-50%, -50%);

        transition:
            opacity 0.3s ease,
            visibility 0.3s ease;

        &::before {
            width: 12.6rem;
            height: 12.6rem;
        }

        &::after {
            width: 11.3rem;
            height: 11.3rem;
        }

        @media (max-width: 48em) {
            display: none;
        }

        .vjs-icon-placeholder {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            width: 11.3rem;
            height: 11.3rem;
            border-radius: 50%;

            background-color: rgba(255, 255, 255, 0.01);
            backdrop-filter: blur(1.1rem);

            &::after {
                content: '';

                display: block;

                width: 2.6rem;
                height: 3.1rem;

                background: url('./assets/images/icons/play.svg') center / contain no-repeat;
            }
        }

        .vjs-control-text {
            display: none;
        }
    }

    .vjs-control-bar {
        position: absolute;
        bottom: 0;
        left: 0;

        display: none;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 4rem;

        background-color: rgba(255, 255, 255, 0.03);
        backdrop-filter: blur(1.1rem);
    }

    .vjs-error-display,
    .vjs-title-bar,
    .vjs-text-track-display,
    .vjs-loading-spinner,
    .vjs-modal-dialog {
        display: none;
    }
}
