<section class="about-us">
    <div class="about-us__container container">
        <div class="about-us__text">
            <div class="about-us__head">
                <div class="about-us__group">
                    <div class="about-us__image-wrap">
                        <img
                            src="./assets/images/content/58d0a5f9ff02afdb4c3afe1492160edc.webp"
                            alt=""
                            class="about-us__image"
                        />
                    </div>
                    <div class="about-us__image-wrap">
                        <img
                            src="./assets/images/content/e2a7cdb8aa9c5b917ec56005dd9e844b.webp"
                            alt=""
                            class="about-us__image"
                        />
                    </div>
                </div>
                <span class="about-us__heading h h_h2">О нас в цифрах</span>
            </div>
            <p class="about-us__description">
                Наша компания объединяет высококвалифицированных специалистов и инженеров, обладающих богатым
                опытом в области проектирования и производства электроприводов. Мы предлагаем инновационные
                решения, основанные на передовых технологиях, чтобы удовлетворить потребности наших клиентов и
                обеспечить оптимальную производительность и надежность наших продуктов.
            </p>
            <ul class="about-us__numbers numbers-about-us">
                <li class="numbers-about-us__item">
                    <span class="numbers-about-us__number">25</span>
                    <span class="numbers-about-us__text">лет на рынке</span>
                </li>
                <li class="numbers-about-us__item">
                    <span class="numbers-about-us__number">130</span>
                    <span class="numbers-about-us__text">сотрудников в штате</span>
                </li>
                <li class="numbers-about-us__item">
                    <span class="numbers-about-us__number">1500+</span>
                    <span class="numbers-about-us__text">довольных клиентов</span>
                </li>
            </ul>
        </div>
        <div class="about-us__bg">
            <img
                class="about-us__bg-img"
                src="./assets/images/bg/9cdbe3f125ac4d641a3c255ed62ec373.webp"
                alt=""
            />
        </div>
    </div>
</section>
