<section class="banner">
    <div class="banner__container container">
        <span class="banner__heading h h_h2">Помощь при подборе электропривода</span>
        <p class="banner__text">
            Наши специалисты готовы помочь вам выбрать идеальный электропривод, который соответствует вашим
            требованиям и обеспечит эффективное функционирование трубопроводной арматуры.
        </p>
        <div class="banner__group">
            <button type="button" class="banner__btn btn btn_primary btn_primary_white btn_primary_fw">
                <span class="btn__txt txt22 txt22_sb">Связаться со специалистом</span>
            </button>
            <a href="tel:71234567890" class="banner__link h h_h3">+7 (123) 456 78 90</a>
        </div>
    </div>
    <div class="banner__bg">
        <img src="./assets/images/bg/eedd34c1a1ef7f6c3913e510669d018a.webp" alt="" class="banner__bg-image" />
    </div>
</section>
