<section class="catalog">
    <div class="catalog__container container">
        <div class="catalog__head">
            <nav class="catalog__breadcrumbs breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <span class="breadcrumbs__txt">Каталог</span>
            </nav>
            <div class="catalog__heading-group">
                <span class="catalog__heading h h_h1">Каталог<span>44</span></span>
                <button type="button" class="catalog__btn btn btn_primary">
                    <span class="btn__txt txt22 txt22_sb">Скачать каталог</span>
                </button>
            </div>
        </div>
        <div class="catalog__body">
            <ul class="catalog__items-grid">
                <li class="catalog__item catalog-item-card">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__number h h_h3">01</span>
                        <span class="catalog-item-card__image-wrap">
                            <img
                                class="catalog-item-card__image"
                                src="./assets/images/items/APKAQ4GOSFWCVNEHN3O4.webp"
                            />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электроприводы многооборотные общепромышленные</span
                            >
                            <span class="catalog-item-card__message">
                                <p class="catalog-item-card__message-content">
                                    Область применения: коммунальное хозяйство, водоснабжение, химические,
                                    нефтехимические отрасли, нефтегазового комплекса.
                                </p>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="catalog__item catalog-item-card">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__number h h_h3">02</span>
                        <span class="catalog-item-card__image-wrap">
                            <img
                                class="catalog-item-card__image"
                                src="./assets/images/items/71f5ca65da87654901397ad78e1a5c1f.webp"
                            />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электроприводы многооборотные взрывозащищенные</span
                            >
                            <span class="catalog-item-card__message">
                                <p class="catalog-item-card__message-content">
                                    Область применения: коммунальное хозяйство, водоснабжение, химические,
                                    нефтехимические отрасли, нефтегазового комплекса.
                                </p>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="catalog__item catalog-item-card">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__number h h_h3">03</span>
                        <span class="catalog-item-card__image-wrap">
                            <img
                                class="catalog-item-card__image"
                                src="./assets/images/items/482ca844a53e6a784a0a62c3e9a7366b.webp"
                            />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электроприводы многооборотные интеллектуальные</span
                            >
                            <span class="catalog-item-card__message">
                                <p class="catalog-item-card__message-content">
                                    Область применения: коммунальное хозяйство, водоснабжение, химические,
                                    нефтехимические отрасли, нефтегазового комплекса.
                                </p>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="catalog__item catalog-item-card">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__number h h_h3">04</span>
                        <span class="catalog-item-card__image-wrap">
                            <img
                                class="catalog-item-card__image"
                                src="./assets/images/items/58f41e20acc8c4a6c789afbdd4bc2972.webp"
                            />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электроприводы четвертьоборотные</span
                            >
                            <span class="catalog-item-card__message">
                                <p class="catalog-item-card__message-content">
                                    Область применения: коммунальное хозяйство, водоснабжение, химические,
                                    нефтехимические отрасли, нефтегазового комплекса.
                                </p>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="catalog__item catalog-item-card">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__number h h_h3">05</span>
                        <span class="catalog-item-card__image-wrap">
                            <img
                                class="catalog-item-card__image"
                                src="./assets/images/items/a720fc22f99c893780f800100c7e5eff.webp"
                            />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электроприводы четвертьоборотные интеллектуальные</span
                            >
                            <span class="catalog-item-card__message">
                                <p class="catalog-item-card__message-content">
                                    Область применения: коммунальное хозяйство, водоснабжение, химические,
                                    нефтехимические отрасли, нефтегазового комплекса.
                                </p>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="catalog__item catalog-item-card">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__number h h_h3">06</span>
                        <span class="catalog-item-card__image-wrap">
                            <img
                                class="catalog-item-card__image"
                                src="./assets/images/items/867643052d683f9398c2e3ec89e9b17c.webp"
                            />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Центры управления электроприводами</span
                            >
                            <span class="catalog-item-card__message">
                                <p class="catalog-item-card__message-content">
                                    Область применения: коммунальное хозяйство, водоснабжение, химические,
                                    нефтехимические отрасли, нефтегазового комплекса.
                                </p>
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
