<section class="catalog">
    <div class="catalog__container container">
        <div class="catalog__head">
            <nav class="catalog__breadcrumbs breadcrumbs">
                <a href="#" class="breadcrumbs__link">Главная</a>
                <a href="#" class="breadcrumbs__link">Каталог</a>
                <span class="breadcrumbs__txt">Электроприводы многооборотные общепромышленные</span>
            </nav>
            <div class="catalog__heading-group">
                <span class="catalog__heading h h_h1"
                    >Электроприводы многооборотные общепромышленные<span class="catalog__items-counter"
                        >24 <span>товара</span></span
                    ></span
                >
                <button type="button" class="catalog__btn btn btn_primary btn_primary_fw">
                    <span class="btn__txt txt22 txt22_sb">Скачать каталог</span>
                </button>
            </div>
        </div>
        <div class="catalog__body">
            <ul class="catalog__items-grid catalog__items-grid_4">
                <li class="catalog__item catalog-item-card catalog-item-card_vertical">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__image-wrap">
                            <img
                                class="catalog-item-card__image"
                                src="./assets/images/items/CHervyachniy-reduktor-GS.webp"
                            />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электропривод неполнооборотный общепромышленный гз-оф(м)</span
                            >
                            <span class="catalog-item-card__link">
                                <span class="catalog-item-card__link-txt h h_h4">цена по запросу</span>
                                <svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#004780"
                                    />
                                </svg>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="catalog__item catalog-item-card catalog-item-card_vertical">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__image-wrap">
                            <img
                                class="catalog-item-card__image"
                                src="./assets/images/items/Auma-Electric-Actuator-SA-and-Sar-Multi-Turn-Actuators.webp"
                            />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электропривод общепромышленный гз-оф(м)</span
                            >
                            <span class="catalog-item-card__link">
                                <span class="catalog-item-card__link-txt h h_h4">цена по запросу</span>
                                <svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#004780"
                                    />
                                </svg>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="catalog__item catalog-item-card catalog-item-card_vertical">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__image-wrap">
                            <img
                                class="catalog-item-card__image"
                                src="./assets/images/items/Auma-Electric-Actuator-SA-and-Sar-Multi-Turn-Actuators.webp"
                            />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электропривод неполнооборотный</span
                            >
                            <span class="catalog-item-card__link">
                                <span class="catalog-item-card__link-txt h h_h4">цена по запросу</span>
                                <svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#004780"
                                    />
                                </svg>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="catalog__item catalog-item-card catalog-item-card_vertical">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__image-wrap">
                            <img class="catalog-item-card__image" src="./assets/images/items/am_01_1.webp" />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электропривод неполнооборотный общепромышленный гз-оф(м)</span
                            >
                            <span class="catalog-item-card__link">
                                <span class="catalog-item-card__link-txt h h_h4">цена по запросу</span>
                                <svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#004780"
                                    />
                                </svg>
                            </span>
                        </span>
                    </a>
                </li>

                <li class="catalog__item catalog-item-card catalog-item-card_vertical">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__image-wrap">
                            <img
                                class="catalog-item-card__image"
                                src="./assets/images/items/Auma-Electric-Actuator-SA-and-Sar-Multi-Turn-Actuators.webp"
                            />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электропривод общепромышленный гз-оф(м)</span
                            >
                            <span class="catalog-item-card__link">
                                <span class="catalog-item-card__link-txt h h_h4">цена по запросу</span>
                                <svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#004780"
                                    />
                                </svg>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="catalog__item catalog-item-card catalog-item-card_vertical">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__image-wrap">
                            <img
                                class="catalog-item-card__image"
                                src="./assets/images/items/CHervyachniy-reduktor-GS.webp"
                            />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электропривод неполнооборотный общепромышленный гз-оф(м)</span
                            >
                            <span class="catalog-item-card__link">
                                <span class="catalog-item-card__link-txt h h_h4">цена по запросу</span>
                                <svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#004780"
                                    />
                                </svg>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="catalog__item catalog-item-card catalog-item-card_vertical">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__image-wrap">
                            <img class="catalog-item-card__image" src="./assets/images/items/am_01_1.webp" />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электропривод неполнооборотный общепромышленный гз-оф(м)</span
                            >
                            <span class="catalog-item-card__link">
                                <span class="catalog-item-card__link-txt h h_h4">цена по запросу</span>
                                <svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#004780"
                                    />
                                </svg>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="catalog__item catalog-item-card catalog-item-card_vertical">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__image-wrap">
                            <img
                                class="catalog-item-card__image"
                                src="./assets/images/items/Auma-Electric-Actuator-SA-and-Sar-Multi-Turn-Actuators.webp"
                            />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электропривод неполнооборотный</span
                            >
                            <span class="catalog-item-card__link">
                                <span class="catalog-item-card__link-txt h h_h4">цена по запросу</span>
                                <svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#004780"
                                    />
                                </svg>
                            </span>
                        </span>
                    </a>
                </li>

                <li class="catalog__item catalog-item-card catalog-item-card_vertical">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__image-wrap">
                            <img
                                class="catalog-item-card__image"
                                src="./assets/images/items/Auma-Electric-Actuator-SA-and-Sar-Multi-Turn-Actuators.webp"
                            />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электропривод неполнооборотный</span
                            >
                            <span class="catalog-item-card__link">
                                <span class="catalog-item-card__link-txt h h_h4">цена по запросу</span>
                                <svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#004780"
                                    />
                                </svg>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="catalog__item catalog-item-card catalog-item-card_vertical">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__image-wrap">
                            <img class="catalog-item-card__image" src="./assets/images/items/am_01_1.webp" />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электропривод неполнооборотный общепромышленный гз-оф(м)</span
                            >
                            <span class="catalog-item-card__link">
                                <span class="catalog-item-card__link-txt h h_h4">цена по запросу</span>
                                <svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#004780"
                                    />
                                </svg>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="catalog__item catalog-item-card catalog-item-card_vertical">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__image-wrap">
                            <img
                                class="catalog-item-card__image"
                                src="./assets/images/items/Auma-Electric-Actuator-SA-and-Sar-Multi-Turn-Actuators.webp"
                            />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электропривод общепромышленный гз-оф(м)</span
                            >
                            <span class="catalog-item-card__link">
                                <span class="catalog-item-card__link-txt h h_h4">цена по запросу</span>
                                <svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#004780"
                                    />
                                </svg>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="catalog__item catalog-item-card catalog-item-card_vertical">
                    <a href="#" class="catalog-item-card__inner">
                        <span class="catalog-item-card__image-wrap">
                            <img
                                class="catalog-item-card__image"
                                src="./assets/images/items/CHervyachniy-reduktor-GS.webp"
                            />
                        </span>
                        <span class="catalog-item-card__text">
                            <span class="catalog-item-card__heading h h_h3"
                                >Электропривод неполнооборотный общепромышленный гз-оф(м)</span
                            >
                            <span class="catalog-item-card__link">
                                <span class="catalog-item-card__link-txt h h_h4">цена по запросу</span>
                                <svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#004780"
                                    />
                                </svg>
                            </span>
                        </span>
                    </a>
                </li>
            </ul>

            <button type="button" class="catalog__load-more-btn btn btn_secondary btn_secondary_blue">
                <span class="btn__txt">Загрузить ещё</span>
            </button>
        </div>
    </div>
</section>
