<section class="configurator">
    <div class="configurator__container container">
        <div class="configurator__head">
            <span class="configurator__heading h h_h2">Конфигуратор электропривода</span>
        </div>
        <div class="configurator__body">
            <div class="configurator__bg">
                <img
                    src="./assets/images/bg/technologist-with-grey-tablet-his-hands-make-set-up-production-line-while-standing-department-dairy-factory.webp"
                    alt=""
                    class="configurator__bg-image"
                />
            </div>
            <div class="configurator__content">
                <span class="configurator__subtitle">Тип и модель электропривода</span>
                <div class="configurator__types">
                    <div class="configurator__type type-configurator">
                        <input
                            type="radio"
                            name="configuratorType"
                            value=""
                            checked
                            class="type-configurator__input"
                        />
                        <div class="type-configurator__content">
                            <div class="type-configurator__image-wrap">
                                <img
                                    src="./assets/images/items/CHervyachniy-reduktor-GS.webp"
                                    alt=""
                                    class="type-configurator__image"
                                />
                            </div>
                            <span class="type-configurator__heading">Задвижка</span>
                        </div>
                    </div>
                    <div class="configurator__type type-configurator">
                        <input
                            type="radio"
                            name="configuratorType"
                            value=""
                            class="type-configurator__input"
                        />
                        <div class="type-configurator__content">
                            <div class="type-configurator__image-wrap">
                                <img
                                    src="./assets/images/items/04.webp"
                                    alt=""
                                    class="type-configurator__image"
                                />
                            </div>
                            <span class="type-configurator__heading">Затвор</span>
                        </div>
                    </div>
                </div>
                <div class="configurator__fields">
                    <div class="configurator__dropdown dropdown">
                        <select data-sel-label="Диаметр" data-show-selection>
                            <option value="1">Выбор</option>
                            <option value="2">Выбор</option>
                            <option value="3">Выбор</option>
                        </select>
                    </div>
                    <div class="configurator__dropdown dropdown">
                        <select data-sel-label="Давление" data-show-selection>
                            <option value="1">Выбор</option>
                            <option value="2">Выбор</option>
                            <option value="3">Выбор</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="configurator__btn btn btn_primary btn_primary_fw">
                    <span class="btn__txt txt22 txt22_sb">Продолжить</span>
                </button>
            </div>
        </div>
    </div>
</section>
