<section class="configurator configurator_hero">
    <div class="configurator__container container">
        <nav class="documentation__breadcrumbs breadcrumbs">
            <a href="#" class="breadcrumbs__link">Главная</a>
            <span class="breadcrumbs__txt">Конфигуратор</span>
        </nav>
	    
        <div class="configurator__head">
            <span class="configurator__heading h h_h2">Конфигуратор</span>
        </div>
        <div class="configurator__body">
	        <div class='configurator__steps'>
		        <button type='button' class='configurator__step txt24'>1 <span>этап</span></button>
		        <button type='button' class='configurator__step txt24 _is-active'>2 <span>этап</span></span>
	        </div>
            <div class="configurator__bg configurator__bg_product _is-hidden">
                <img
                    src="./assets/images/items/CHervyachniy-reduktor-GS.webp"
                    alt=""
                    class="configurator__bg-image"
                />
	            <div class='configurator__loader-wrap'><span class='configurator__loader loader'></span></div>
            </div>
            <form action='#' data-dev data-select-single class="configurator__content">
                <span class="configurator__subtitle-label configurator__subtitle-label_u label">Модель</span>
	            <span class='configurator__subtitle'>Электропривод многооборотный интеллектуальный</span>
                <div class="configurator__fields">
	                <div class='configurator__field'>
		                <span class='configurator__label label'>Выберите крутящий момент электропривода</span>
                    <div class="configurator__dropdown dropdown">
                        <select data-sel-label="Крутящий момент электропривода" data-show-selection>
                            <option value="1">Выбор</option>
                            <option value="2">Выбор</option>
                            <option value="3">Выбор</option>
                        </select>
                    </div>
		                
	                </div>
	                <div class='configurator__field'>
		                <span class='configurator__label label'>Выберите климатическое исполнение</span>
                    <div class="configurator__dropdown dropdown">
                        <select data-sel-label="Климатическое исполнение" data-show-selection>
                            <option value="1">Выбор</option>
                            <option value="2">Выбор</option>
                            <option value="3">Выбор</option>
                        </select>
                    </div>
	                </div>
	                <div class='configurator__field'>
		                <span class='configurator__label label'>Выберите степень защиты электропривода</span>
                    <div class="configurator__dropdown dropdown">
                        <select data-sel-label="Степень защиты электропривода" data-show-selection>
                            <option value="1">Выбор</option>
                            <option value="2">Выбор</option>
                            <option value="3">Выбор</option>
                        </select>
                    </div>
	                </div>
                </div>
                <button disabled type="submit" class="configurator__btn btn btn_primary btn_primary_fw">
                    <span class="btn__txt txt22 txt22_m">Подобрать электропривод</span>
                </button>
            </form>
        </div>
    </div>
</section>
