<section class="documentation">
    <div class="documentation__container container">
        <nav class="documentation__breadcrumbs breadcrumbs">
            <a href="#" class="breadcrumbs__link">Главная</a>
            <span class="breadcrumbs__txt">Документация</span>
        </nav>

        <div class="documentation__head section-head">
            <span class="section-head__heading h h_h2">Документация</span>
        </div>
        <div class="documentation__body">
            <div class="documentation__cards">
                <a href="#" class="documentation__card documentation-card">
                    <span class="documentation-card__icon">
                        <svg
                            width="80"
                            height="80"
                            viewBox="0 0 80 80"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <circle cx="31" cy="31" r="29.25" stroke="white" stroke-width="1.5" />
                            <rect
                                x="31.75"
                                y="31.75"
                                width="46.5"
                                height="46.5"
                                stroke="white"
                                stroke-width="1.5"
                            />
                        </svg>
                    </span>
                    <span class="documentation-card__text">
                        <span class="documentation-card__heading h h_h3"
                            >Cертификаты соответствия продукции</span
                        >
                        <button type="button" class="documentation-card__btn btn btn_secondary">
                            <span class="btn__txt">Подробнее</span>
                        </button>
                    </span>
                </a>
                <a href="#" class="documentation__card documentation-card">
                    <span class="documentation-card__icon">
                        <svg
                            width="80"
                            height="80"
                            viewBox="0 0 80 80"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <circle
                                cx="28.5714"
                                cy="28.5714"
                                r="27.8214"
                                stroke="#001B30"
                                stroke-width="1.5"
                            />
                            <circle
                                cx="51.4286"
                                cy="51.4286"
                                r="27.8214"
                                stroke="#001B30"
                                stroke-width="1.5"
                            />
                        </svg>
                    </span>
                    <span class="documentation-card__text">
                        <span class="documentation-card__heading h h_h3"
                            >Cертификаты соответствия продукции</span
                        >
                        <button type="button" class="documentation-card__btn btn btn_secondary">
                            <span class="btn__txt">Подробнее</span>
                        </button>
                    </span>
                </a>
                <a href="#" class="documentation__card documentation-card">
                    <span class="documentation-card__icon">
                        <svg
                            width="80"
                            height="80"
                            viewBox="0 0 80 80"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <rect
                                x="28.75"
                                y="28.75"
                                width="46.5"
                                height="46.5"
                                stroke="#001B30"
                                stroke-width="1.5"
                            />
                            <rect
                                x="4.75"
                                y="4.75"
                                width="46.5"
                                height="46.5"
                                stroke="#001B30"
                                stroke-width="1.5"
                            />
                        </svg>
                    </span>
                    <span class="documentation-card__text">
                        <span class="documentation-card__heading h h_h3"
                            >Cертификаты соответствия продукции</span
                        >
                        <button type="button" class="documentation-card__btn btn btn_secondary">
                            <span class="btn__txt">Подробнее</span>
                        </button>
                    </span>
                </a>
                <a href="#" class="documentation__card documentation-card">
                    <span class="documentation-card__icon">
                        <svg
                            width="80"
                            height="80"
                            viewBox="0 0 80 80"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <rect
                                x="28.75"
                                y="28.75"
                                width="46.5"
                                height="46.5"
                                stroke="#001B30"
                                stroke-width="1.5"
                            />
                            <rect
                                x="4.75"
                                y="4.75"
                                width="46.5"
                                height="46.5"
                                stroke="#001B30"
                                stroke-width="1.5"
                            />
                        </svg>
                    </span>
                    <span class="documentation-card__text">
                        <span class="documentation-card__heading h h_h3"
                            >Cертификаты соответствия продукции</span
                        >
                        <button type="button" class="documentation-card__btn btn btn_secondary">
                            <span class="btn__txt">Подробнее</span>
                        </button>
                    </span>
                </a>
                <a href="#" class="documentation__card documentation-card">
                    <span class="documentation-card__icon">
                        <svg
                            width="80"
                            height="80"
                            viewBox="0 0 80 80"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <circle cx="31" cy="31" r="29.25" stroke="white" stroke-width="1.5" />
                            <rect
                                x="31.75"
                                y="31.75"
                                width="46.5"
                                height="46.5"
                                stroke="white"
                                stroke-width="1.5"
                            />
                        </svg>
                    </span>
                    <span class="documentation-card__text">
                        <span class="documentation-card__heading h h_h3"
                            >Cертификаты соответствия продукции</span
                        >
                        <button type="button" class="documentation-card__btn btn btn_secondary">
                            <span class="btn__txt">Подробнее</span>
                        </button>
                    </span>
                </a>
                <a href="#" class="documentation__card documentation-card">
                    <span class="documentation-card__icon">
                        <svg
                            width="80"
                            height="80"
                            viewBox="0 0 80 80"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <circle
                                cx="28.5714"
                                cy="28.5714"
                                r="27.8214"
                                stroke="#001B30"
                                stroke-width="1.5"
                            />
                            <circle
                                cx="51.4286"
                                cy="51.4286"
                                r="27.8214"
                                stroke="#001B30"
                                stroke-width="1.5"
                            />
                        </svg>
                    </span>
                    <span class="documentation-card__text">
                        <span class="documentation-card__heading h h_h3"
                            >Cертификаты соответствия продукции</span
                        >
                        <button type="button" class="documentation-card__btn btn btn_secondary">
                            <span class="btn__txt">Подробнее</span>
                        </button>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
