<section data-modal="#requestSendModal" class="not-found">
    <div class="not-found__container container">
        <div class="not-found__body">
            <span class="not-found__heading">404</span>
            <p class="not-found__text txt24">
                Возможно страница устарела, была удалена, или был введен неверный адрес в адресной строке.
            </p>
            <a href="#" class="not-found__btn btn btn_primary">
                <span class="btn__txt txt22 txt22_m">На главную</span>
            </a>
        </div>
        <div class="not-found__bg">
            <img class="not-found__bg-image" src="./assets/images/bg-figures/factory.svg" />
        </div>
    </div>
</section>
