<section class="stock-chapter">
    <div class="stock-chapter__container container">
        <nav class="stock-chapter__breadcrumbs breadcrumbs">
            <a href="#" class="breadcrumbs__link">Главная</a>
            <a href="#" class="breadcrumbs__link">Акции</a>
            <span class="breadcrumbs__txt">Индивидуальные условия для постоянных клиентов</span>
        </nav>
        <div class="stock-chapter__hero hero-stock-chapter hero-stock-chapter_has-image">
            <div class="hero-stock-chapter__image-wrap">
                <img
                    src="./assets/images/bg/9cdbe3f125ac4d641a3c255ed62ec373.webp"
                    alt=""
                    class="hero-stock-chapter__image"
                />
            </div>
            <div class="hero-stock-chapter__content">
                <span class="hero-stock-chapter__label label">С 1 марта по 30 апреля</span>
                <span class="hero-stock-chapter__heading h h_h1"
                    >Индивидуальные условия для постоянных клиентов</span
                >
                <a
                    data-da=".stock-chapter__hero,768,last"
                    href="#"
                    class="hero-stock-chapter__btn btn btn_primary btn_primary_fw"
                >
                    <span class="btn__txt txt22 txt22_m">В каталог</span>
                </a>
            </div>
        </div>
        <div class="stock-chapter__body">
            <div class="stock-chapter__content">
                <div class="stock-chapter__group">
                    <p class="stock-chapter__text">
                        Мы дорожим каждым нашим клиентом, но для постоянных покупателей у нас действуют особые
                        условия и привилегии.
                    </p>
                    <ul class="stock-chapter__list">
                        <li class="stock-chapter__list-item">
                            Система лояльности в виде кешбэка на следующие заказы
                        </li>
                        <li class="stock-chapter__list-item">Отсрочка по платежам</li>
                    </ul>
                    <p class="stock-chapter__text">
                        Мы готовы пойти навстречу в периоды трудностей, форс-мажоров. Все обсуждаемо
                    </p>
                    <ul class="stock-chapter__list">
                        <li class="stock-chapter__list-item">
                            Бесплатная доставка независимо от суммы покупки при долгосрочном сотрудничестве
                        </li>
                        <li class="stock-chapter__list-item">
                            Оперативные оповещения о последних новостях компании: изменение прайса, пополнение
                            ассортимента и т. д.
                        </li>
                        <li class="stock-chapter__list-item">
                            Координирование на всех этапах приобретения товара, от выбора продукции до
                            доставки
                        </li>
                    </ul>
                </div>
                <p class="stock-chapter__bg-text txt22">
                    Более развернутую информацию по условиям приобретения оборудования для газовых систем и
                    теплоснабжения вам с удовольствием озвучат и подробно расскажут наши менеджеры по номеру
                    телефона <a href="tel:78123352052">+7 (812) 335-20-52</a>
                </p>
                <div class="stock-chapter__group stock-chapter__group_solid">
                    <span class="stock-chapter__heading h h_h3"
                        >Мы дорожим каждым нашим клиентом, но для постоянных покупателей у нас действуют
                        особые условия и привилегии.
                    </span>
                    <div class="stock-chapter__text-wrap">
                        <p class="stock-chapter__text">
                            Мы располагаем собственным автопарком, что позволяет нам оперативно решать вопросы
                            доставки заказанного оборудования.
                        </p>
                        <p class="stock-chapter__text">
                            При заказе оборудования из наличия, доставка осуществляется на следующий рабочий
                            день. При условии наличия товара, доставка может быть произведена в этот же день,
                            при согласовании с менеджером.
                        </p>
                    </div>
                </div>
                <div class="stock-chapter__group stock-chapter__group_solid">
                    <span class="stock-chapter__heading h h_h3">Бесплатная доставка по Санкт-Петербургу</span>
                    <div class="stock-chapter__text-wrap">
                        <p class="stock-chapter__text">
                            Мы располагаем собственным автопарком, что позволяет нам оперативно решать вопросы
                            доставки заказанного оборудования.
                        </p>
                        <p class="stock-chapter__text">
                            При заказе оборудования из наличия, доставка осуществляется на следующий рабочий
                            день. При условии наличия товара, доставка может быть произведена в этот же день,
                            при согласовании с менеджером.
                        </p>
                    </div>
                </div>
            </div>
            <ul class="stock-chapter__cards">
                <li class="stock-chapter__card card-stock">
                    <a href="#" class="card-stock__inner">
                        <span class="card-stock__label label">С 1 марта по 30 апреля</span>
                        <span class="card-stock__heading h h_h3"
                            >Весенняя скидка на электроприводы: обновите свою трубопроводную арматуру с
                            выгодой!</span
                        >
                        <div class="card-stock__text-wrap">
                            <p class="card-stock__text">
                                Мы рады объявить о специальной весенней акции на все электроприводы для
                                трубопроводной арматуры. Обновите ваше оборудование и повысьте его
                                эффективность с нашими передовыми решениями!
                            </p>
                        </div>
                        <span class="card-stock__icon"
                            ><svg
                                width="22"
                                height="8"
                                viewBox="0 0 22 8"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                    fill="#001B30"
                                />
                            </svg>
                        </span>
                    </a>
                </li>
                <li class="stock-chapter__card card-stock">
                    <a href="#" class="card-stock__inner">
                        <span class="card-stock__label label">С 1 марта по 30 апреля</span>
                        <span class="card-stock__heading h h_h3"
                            >-20% на электроприводы: обновите арматуру с выгодой</span
                        >
                        <div class="card-stock__text-wrap">
                            <p class="card-stock__text">
                                Мы рады объявить о специальной весенней акции на все электроприводы для
                                трубопроводной арматуры. Обновите ваше оборудование и повысьте его
                                эффективность с нашими передовыми решениями!
                            </p>
                        </div>
                        <span class="card-stock__icon"
                            ><svg
                                width="22"
                                height="8"
                                viewBox="0 0 22 8"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                    fill="#001B30"
                                />
                            </svg>
                        </span>
                    </a>
                </li>
                <li class="stock-chapter__card card-stock">
                    <a href="#" class="card-stock__inner">
                        <span class="card-stock__label label">С 1 марта по 30 апреля</span>
                        <span class="card-stock__heading h h_h3"
                            >-20% на электроприводы: обновите арматуру с выгодой</span
                        >
                        <div class="card-stock__text-wrap">
                            <p class="card-stock__text">
                                Мы рады объявить о специальной весенней акции на все электроприводы для
                                трубопроводной арматуры. Обновите ваше оборудование и повысьте его
                                эффективность с нашими передовыми решениями!
                            </p>
                        </div>
                        <span class="card-stock__icon"
                            ><svg
                                width="22"
                                height="8"
                                viewBox="0 0 22 8"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                    fill="#001B30"
                                />
                            </svg>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
