<section data-modal="#requestSendModal" class="stock">
    <div class="stock__container container">
        <nav class="stock__breadcrumbs breadcrumbs">
            <a href="#" class="breadcrumbs__link">Главная</a>
            <span class="breadcrumbs__txt">Акции</span>
        </nav>
        <div class="stock__body">
            <div class="stock__head">
                <span data-quantity="9" class="stock__heading h h_h2">Акции</span>
            </div>
            <div class="stock__content">
                <ul class="stock__grid">
                    <li class="stock__item card-stock">
                        <a href="#" class="card-stock__inner">
                            <span class="card-stock__label label">С 1 марта по 30 апреля</span>
                            <span class="card-stock__heading h h_h3"
                                >-20% на электроприводы: обновите арматуру с выгодой</span
                            >
                            <div class="card-stock__text-wrap">
                                <p class="card-stock__text">
                                    Мы рады объявить о специальной весенней акции на все электроприводы для
                                    трубопроводной арматуры. Обновите ваше оборудование и повысьте его
                                    эффективность с нашими передовыми решениями!
                                </p>
                            </div>
                            <span class="card-stock__icon"
                                ><svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#001B30"
                                    />
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="stock__item card-stock">
                        <a href="#" class="card-stock__inner">
                            <span class="card-stock__label label">С 1 марта по 30 апреля</span>
                            <span class="card-stock__heading h h_h3"
                                >Весенняя скидка на электроприводы: обновите свою трубопроводную арматуру с
                                выгодой!</span
                            >
                            <div class="card-stock__text-wrap">
                                <p class="card-stock__text">
                                    Мы рады объявить о специальной весенней акции на все электроприводы для
                                    трубопроводной арматуры. Обновите ваше оборудование и повысьте его
                                    эффективность с нашими передовыми решениями!
                                </p>
                            </div>
                            <span class="card-stock__icon"
                                ><svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#001B30"
                                    />
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="stock__item stock__item_image">
                        <img
                            class="stock__image"
                            src="./assets/images/bg/9cdbe3f125ac4d641a3c255ed62ec373.webp"
                            alt=""
                        />
                    </li>
                    <li class="stock__item card-stock">
                        <a href="#" class="card-stock__inner">
                            <span class="card-stock__label label">С 1 марта по 30 апреля</span>
                            <span class="card-stock__heading h h_h3"
                                >-20% на электроприводы: обновите арматуру с выгодой</span
                            >
                            <div class="card-stock__text-wrap">
                                <p class="card-stock__text">
                                    Мы рады объявить о специальной весенней акции на все электроприводы для
                                    трубопроводной арматуры. Обновите ваше оборудование и повысьте его
                                    эффективность с нашими передовыми решениями!
                                </p>
                            </div>
                            <span class="card-stock__icon"
                                ><svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#001B30"
                                    />
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="stock__item card-stock">
                        <a href="#" class="card-stock__inner">
                            <span class="card-stock__label label">С 1 марта по 30 апреля</span>
                            <span class="card-stock__heading h h_h3"
                                >-20% на электроприводы: обновите арматуру с выгодой</span
                            >
                            <div class="card-stock__text-wrap">
                                <p class="card-stock__text">
                                    Мы рады объявить о специальной весенней акции на все электроприводы для
                                    трубопроводной арматуры. Обновите ваше оборудование и повысьте его
                                    эффективность с нашими передовыми решениями!
                                </p>
                            </div>
                            <span class="card-stock__icon"
                                ><svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#001B30"
                                    />
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="stock__item card-stock">
                        <a href="#" class="card-stock__inner">
                            <span class="card-stock__label label">С 1 марта по 30 апреля</span>
                            <span class="card-stock__heading h h_h3"
                                >Весенняя скидка на электроприводы: обновите свою трубопроводную арматуру с
                                выгодой!</span
                            >
                            <div class="card-stock__text-wrap">
                                <p class="card-stock__text">
                                    Мы рады объявить о специальной весенней акции на все электроприводы для
                                    трубопроводной арматуры. Обновите ваше оборудование и повысьте его
                                    эффективность с нашими передовыми решениями!
                                </p>
                            </div>
                            <span class="card-stock__icon"
                                ><svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#001B30"
                                    />
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="stock__item stock__item_image">
                        <img
                            class="stock__image"
                            src="./assets/images/bg/05e2ca397034c3c8bb8843154a70c309.webp"
                            alt=""
                        />
                    </li>
                    <li class="stock__item card-stock">
                        <a href="#" class="card-stock__inner">
                            <span class="card-stock__label label">С 1 марта по 30 апреля</span>
                            <span class="card-stock__heading h h_h3"
                                >Весенняя скидка на электроприводы: обновите свою трубопроводную арматуру с
                                выгодой!</span
                            >
                            <div class="card-stock__text-wrap">
                                <p class="card-stock__text">
                                    Мы рады объявить о специальной весенней акции на все электроприводы для
                                    трубопроводной арматуры. Обновите ваше оборудование и повысьте его
                                    эффективность с нашими передовыми решениями!
                                </p>
                            </div>
                            <span class="card-stock__icon"
                                ><svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#001B30"
                                    />
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="stock__item card-stock">
                        <a href="#" class="card-stock__inner">
                            <span class="card-stock__label label">С 1 марта по 30 апреля</span>
                            <span class="card-stock__heading h h_h3"
                                >-20% на электроприводы: обновите арматуру с выгодой</span
                            >
                            <div class="card-stock__text-wrap">
                                <p class="card-stock__text">
                                    Мы рады объявить о специальной весенней акции на все электроприводы для
                                    трубопроводной арматуры. Обновите ваше оборудование и повысьте его
                                    эффективность с нашими передовыми решениями!
                                </p>
                            </div>
                            <span class="card-stock__icon"
                                ><svg
                                    width="22"
                                    height="8"
                                    viewBox="0 0 22 8"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 3.5H0.5V4.5H1V3.5ZM21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM1 4.5H21V3.5H1V4.5Z"
                                        fill="#001B30"
                                    />
                                </svg>
                            </span>
                        </a>
                    </li>
                </ul>
                <a href="#" class="stock__link btn btn_secondary btn_secondary_blue">
                    <span class="btn__txt">Загрузить ещё</span>
                </a>
            </div>
        </div>
    </div>
</section>
