<section class="video">
    <div class="video__container container">
        <div class="video__content">
            <span class="video__heading h h_h3"
                >Наша цель — предоставить клиентам электроприводы, отвечающие самым высоким стандартам
                качества  и безопасности.</span
            >
            <p class="video__text txt24">
                Мы стремимся к постоянному совершенствованию наших продуктов и услуг, а также к удовлетворению
                потребностей наших клиентов в максимальной степени.
            </p>
        </div>
        <video
            data-video
            controls
            poster="./assets/images/bg/c8909acb1a840d68830e8de6f1a0e7e9.webp"
            class="video__video-js video-js"
        >
            <source src="./assets/video/sample-video.mp4" type="video/mp4" />
        </video>
    </div>
</section>
