<footer class="footer">
    <div class="footer__container container">
        <div class="footer__body hf-grid">
            <a href="#" class="hf-grid__logo"
                ><img class="hf-grid__logo-img" src="./assets/images/logo.svg" alt=""
            /></a>
            <nav class="hf-grid__nav">
                <a href="#" class="hf-grid__nav-link">Каталог</a>
                <a href="#" class="hf-grid__nav-link">Акции</a>
                <a href="#" class="hf-grid__nav-link">Конфигуратор</a>
                <a href="#" class="hf-grid__nav-link">Документация</a>
                <a href="#" class="hf-grid__nav-link">Сервисный центр</a>
                <a href="#" class="hf-grid__nav-link">Контакты</a>
            </nav>

            <button type="button" class="hf-grid__btn btn btn_primary btn_primary_white btn_primary_fw">
                <span class="btn__txt txt22 txt22_sb">Оставить заявку</span>
            </button>
        </div>
        <div class="footer__bottom">
            <span class="footer__txt">Политика конфиденциальности</span>
            <span class="footer__txt">© <span id="currentYear"></span> edarm.ru, Все права защищены</span>
        </div>
    </div>
</footer>
