// --------------------------------- mixins ---------------------------------

@import './mixins';

// -------------------------------- variables -------------------------------

// colors
$white: #ffffff;
$black: #000000;
$blue: #004780;
$gray: #f2f2f2;
$fontColor: #001b30;
$lightBlue: #a6bdd0;
$red: #d90000;

// ---------------------------------- fonts ---------------------------------

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wdth,wght@75,100..900&display=swap');

// local fonts
@import './fonts';

// ------------------------------- base styles ------------------------------

// base scss file
@import './set';

// html, body
html {
    &.lock {
        overflow: hidden;
    }
}
html,
.page-body {
    overflow-x: clip;
}

// main
main {
    position: relative;
    flex: 1 1 auto;

    &:not(.homepage &) {
        padding-top: 6rem;

        @media (max-width: 48em) {
            padding-top: 6.4rem;
        }
    }
}

// wrapper
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1920px;
}

// swiper fade fix
.swiper-fade {
    .swiper-slide {
        opacity: 0 !important;
        visibility: hidden !important;
        transition:
            opacity 0.8s ease,
            visibility 0.8s ease;
        &.swiper-slide-active {
            opacity: 1 !important;
            visibility: visible !important;
        }
    }
}

// --------------------------------------------------------------------------

// header / footer
@import './sections/header';
@import './sections/footer';

// ui
@import '../ui/ui';

// --------------------------------------------------------------------------

@import './dev/vzmsk1.scss';
@import './dev/markusDM.scss';
